# Заполните в cfg.yaml на основе шаблона - все настройки носят опциональный характер
# Их имеет смысл добавлять в cfg.yaml, только если они отличаются от значений по умолчанию
mongo:
  uri: "mongodb://localhost:27017"
  db: "poptimizer"
server:
  url: "http://localhost:5000/"
tg:
  token: ""
  chat_id: 0
brokers:
  tinkoff:
    - token: "YOUR_TOKEN"
      name: "Acc1"
      id: "1234"
    - token: "YOUR_TOKEN2"
      name: "Acc2"
      id: "3456"
