{{define "main"}}
<h1>
    Portfolio
    <small>{{len .Main}}</small>
</h1>
<ul id="tickers-list">
    {{range .Main}}
    <li>
        <a title="Remove" hx-post="tickers/remove/{{.}}" hx-target="main">
            {{.}}
            <svg>
                <line x1=0% y1=35% x2=60% y2=95% />
                <line x1=0% y1=95% x2=60% y2=35% />
            </svg>
        </a>
    </li>
    {{end}}
</ul>
{{end}}
