<div>
    <h2>Saving status</h2>
    <table>
        <thead>
            <tr>
                <th>Stage</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            {{ range . }}
            <tr>{{- /*gotype: github.com/WLM1ke/poptimizer/data/internal/services.StatusDTO*/ -}}
                <td>{{ .Name }}</td>
                <td>{{ .Status }}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
</div>