{{- /*gotype: github.com/WLM1ke/poptimizer/data/internal/handlers/port_new.page*/ -}}
{{define "footer"}}
    <footer hx-swap-oob="outerHTML:footer">
        <div>Status:</div>
        <div>{{.}}</div>
    </footer>
{{end}}