# Данный файл можно переименовать в .env, в таком случае данные из него заменят дефолтные настройки

TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=

SERVER_URL=http://localhost:5000

MONGO_DB_URI=mongodb://localhost:27017
MONGO_DB_DB=poptimizer
