pytest==5.4.3
pytest-cov==2.9.0
pytest-asyncio==0.12.0

pandas==1.0.4
numpy==1.18.5
scipy==1.4.1
torch==1.5.0
tqdm==4.46.1

openpyxl==3.0.3
xlrd==1.2.0
lxml==4.5.1
reportlab==3.5.42
matplotlib==3.2.1

pymongo==3.10.1

apimoex==1.2.0
bs4==0.0.1
requests==2.23.0
pyppeteer
certifi

psutil
