pytest
pytest-cov
pytest-asyncio

sphinx
sphinxcontrib-asyncio
aiohttp_theme

pandas
numpy
hyperopt
catboost
matplotlib
scikit-learn

openpyxl
xlrd
lxml
reportlab

lmdb

aiomoex
bs4
aiohttp
pyppeteer
certifi
