{{- /*gotype: github.com/WLM1ke/poptimizer/data/internal/services.TickersDTO*/ -}}
{{ range .Tickers }}
    <code title="Remove">
        <svg x=0 y=0 width=1em height=1em hx-post="remove/{{ . }}" hx-target="#portfolio">
            <line x1=35% y1=35% x2=95% y2=95% />
            <line x1=35% y1=95% x2=95% y2=35% />
        </svg>
        {{ . }}
    </code>
{{end}}
