<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        >
        <meta
            name="description"
            content="POptimizer — MOEX shares and ETFs portfolio optimization"
        >

        <title>POptimizer - {{ layout.title }}</title>

        <link
            rel="icon"
            href="/static/images/favicon.svg"
            type="image/svg+xml"
        >
        <link
            rel="icon"
            href="/static/images/favicon.ico"
            type="image/x-icon"
        >

        <link
            rel="preload"
            href="/static/fonts/roboto-condensed-latin-500.woff2"
            as="font"
            type="font/woff2"
            crossorigin
        >

        <link
            rel="stylesheet"
            href="/static/css/variables.css"
        >
        <link
            rel="stylesheet"
            href="/static/css/preflight.css"
        >
        <link
            rel="stylesheet"
            href="/static/css/theme.css"
        >
        <link
            rel="stylesheet"
            href="/static/css/style.css"
        >

        <script src="/static/js/htmx.min.js"></script>
        <script src="/static/js/idiomorph.min.js"></script>
        <script src="/static/js/cmd-events.js"></script>
    </head>

    <body
        hx-on:po:cmd="handleCmd(event)"
        data-theme="{{ layout.theme }}"
        hx-ext="morph"
    >
        {% include 'body.html' %}
    </body>

</html>