/* Default formatting */

:root {
  --bg: #ffffff;
  --bg-emphasis: #e5e7eb;
  --font: #111827;
  --bg-dark: #1f2937;
  --font-on-dark: #ffffff;
  --link: #4b5563;
  --link-hoover: #1e87f0;
  --padding_sm: 6px;
  --padding_bg: 1em;
  --max-width: 125px
}

* {
  padding: 0;
  margin: 0;
}


body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 1.36em;
  margin-top: 0;
  margin-bottom: var(--padding_sm);
}

h2 {
  font-size: 1.30em;
}

h3 {
  font-size: 1.24em;
}

h4 {
  font-size: 1.18em;
}
h5 {
  font-size: 1.12em;
}
h6 {
  font-size: 1.06em;
}

svg {
  width: 1em;
  height: 1em;
  stroke-width: 1px;
}

/* Forms */

button,
input[type="search"],
input[type="date"],
input[type="text"],
input[type="submit"],
select {
  box-sizing: border-box;
  height: 2em;
  font-size: 1em;
  border-radius: var(--padding_sm);
  border-width: 1px;
  border-style: solid;
  outline: none;
  padding: var(--padding_sm);
  margin-bottom: var(--padding_sm);
}

input[type="search"],
input[type="date"],
input[type="text"],
select {
  background-color: var(--bg);
  border-color: var(--link);
  color: var(--link);
  appearance: none;
}

button,
input[type="submit"] {
  background-color: var(--link-hoover);
  border-color: var(--link-hoover);
  color: var(--bg);
}

button,
input[type="submit"],
input[type="search"],
input[type="text"] {
  width: var(--max-width);
}

input:focus,
input:hover,
select:focus,
select:hover,
button:hover {
  border-color: var(--link-hoover);
  box-shadow: 0 0 0 1px var(--link-hoover);
}

button,
select,
input[type='submit'],
input[type='reset'] {
  cursor: pointer;
}

a {
  color: var(--link);
  text-decoration: none;
}

a:hover {
  color: var(--link-hoover);
  stroke: var(--link-hoover);
  cursor: pointer;
}

/* Badge */

small {
  background-color: var(--link-hoover);
  border-radius: var(--padding_bg);
  padding: 0 var(--padding_sm);
  font-size: small;
  font-weight: normal;
  color: var(--bg)
}

/* Table */

table {
  border-collapse: collapse;
}

td,
th {
  width: var(--max-width);
  padding: var(--padding_sm) var(--padding_bg);
  text-align: center;
}



thead {
  border-bottom: 1px solid var(--bg-emphasis);
}

tbody tr:nth-child(even) {
  background-color: var(--bg-emphasis);
}
