@import url("https://unpkg.com/normalize.css");
@import url("base.css");
@import url("interface.css");


/* Tickers */

#tickers>aside>ul {
  padding-top: var(--padding_sm);
  flex: 1 1 0;
  overflow: scroll;
}

#tickers>main {
  display: flex;
  flex-direction: column;
}

#tickers>main>ul {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: start;
  gap: var(--padding_sm);
  list-style-type: none;
  overflow: scroll;
}

#tickers>main>ul>li {
  width: var(--max-width);
}

#tickers a {
  display: block;
}

/* Dividends */

aside #dividends-sidebar {
  overflow: scroll;
  height: 100%;
}

main #dividends-main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

main #dividends-main form {
  display: flex;
  align-items: flex-end;
  gap: var(--padding_bg);
}

