body {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--bg-main);
    color: var(--text-main);
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: max-content auto;
    grid-template-rows: max-content auto;
}

aside {
    grid-row: span 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right-width: 1px;
    border-right-color: var(--bg-accent);
    background-color: var(--bg-sidebar);
    padding: var(--padding);
}

header {
    min-width: max-content;
    overflow: auto;
    border-bottom-width: 1px;
    border-bottom-color: var(--bg-accent);
    padding: var(--padding);
    padding-left: var(--padding-large);
    display: flex;
    align-items: center;
}

main {
    overflow: scroll;
    padding: var(--padding);
    padding-left: var(--padding-large);
}


h1,
h2 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: var(--font-weight-header);
}

.logo {
    font-family: var(--font-logo);
    text-transform: lowercase;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: var(--font-weight-accent);
    letter-spacing: -0.02em;
}

svg {
    height: 1.25rem;
    fill: currentColor;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: var(--padding);
}

.nav__block {
    display: flex;
    flex-direction: column;
    gap: var(--padding-small);
}

.nav__block--horizontal {
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}

.nav__block--separator {
    border-top-width: 1px;
    border-top-color: var(--bg-medium);
    padding-top: var(--padding);
}

.nav__item,
.nav__item-no-hover {
    padding: var(--padding);
    border-radius: var(--padding);
    display: flex;
    align-items: center;
    gap: var(--padding);
    font-weight: var(--font-weight-accent);
}

.nav__item--selected,
.nav__item:hover {
    background-color: var(--bg-medium);
}

.nav__item--no-padding-top {
    padding-top: 0;
}

.nav__item--indented {
    padding-left: var(--padding-large);
}

.nav__logo {
    height: 2rem;
}

.nav__icon {
    fill: var(--text-muted);
}

.card {
    background-color: var(--bg-accent);
    width: calc(var(--block-width) * 3);
    padding: var(--padding-large);
    border-radius: var(--padding);
    color: var(--text-muted);
    font-style: italic;
}

.card__title {
    color: var(--text-main);
    font-style: normal;
}

.card__description {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
}

.card__description>div {
    display: contents;
}

.card__description dt::after {
    content: ":";
}

.table {
    margin-top: var(--padding);
    font-family: var(--mono-font);
}

.table__header-cell {
    padding: var(--padding);
    font-family: var(--font);
}

.table__label-cell {
    padding: var(--padding);
    width: var(--block-width);
}

.table__data-cell {
    padding: var(--padding);
    text-align: right;
    width: var(--block-width);
}

.table__text-cell {
    padding: var(--padding);
    text-align: center;
    width: var(--block-width);
}

.table__muted-row {
    color: var(--text-muted);
}

.table__icon-cell {
    padding: var(--padding);
    display: flex;
    justify-content: center;
    width: var(--block-width);
}

.table__icon-button:hover {
    color: var(--link-hover);
}

.table__note-cell {
    padding: var(--padding);
    text-align: center;
}

.table__input {
    padding: var(--padding-small);
    text-align: right;
    width: var(--block-width);
    border-width: 1px;
    margin: 2px;
    border-radius: var(--padding);
    border-color: var(--bg-accent);
    background-color: var(--bg-main);
}

.table__input--text {
    text-align: left;
}

.settings-section {
    padding-bottom: var(--padding);
}

.settings-section__header {
    padding-bottom: var(--padding);
}

.switch {
    position: relative;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.switch__checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.switch__track {
    position: relative;
    height: 1.5rem;
    width: 2.75rem;
    background-color: var(--bg-accent);
    border-radius: 9999px;
}

.switch__track::after {
    content: '';
    position: absolute;
    left: 0.125rem;
    top: 0.125rem;
    height: 1.25rem;
    width: 1.25rem;
    background-color: white;
    border-radius: 9999px;
    transition: all 0.3s ease;
}

.switch__checkbox:checked+.switch__track {
    background-color: var(--link);
}

.switch__checkbox:checked+.switch__track::after {
    transform: translateX(1.25rem);
}

.switch__label {
    margin-left: 0.75rem;
    color: var(--text-main);
}

.editable-list {
    max-width: max-content;
}

.editable-list__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--padding);
    padding-bottom: var(--padding);
}

.editable-list__input {
    border-width: 1px;
    border-radius: var(--padding);
    border-color: var(--bg-accent);
    background-color: var(--bg-main);
    padding: var(--padding-small);
}

.editable-list__button:hover {
    color: var(--link-hover);
}

.alerts {
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: var(--padding);
}

.alerts__item {
    display: flex;
    align-items: center;
    gap: var(--padding-small);
    margin: var(--padding);
    padding: var(--padding);
    border-radius: var(--padding);
    border-width: 1px;
    border-color: var(--bdr-alert);
    color: var(--text-alert);
    background-color: var(--bg-alert);
}