:root {
    --text-main: rgb(var(--grey-900));
    --text-muted: rgb(var(--grey-500));
    --bg-main: rgb(var(--white));
    --bg-medium: rgb(var(--grey-100));
    --bg-accent: rgb(var(--grey-200));
    --bg-sidebar: rgb(var(--white));

    --text-info: rgb(var(--blue-800));
    --bg-info: rgb(var(--blue-50));
    --bdr-info: rgb(var(--blue-300));

    --text-alert: rgb(var(--red-800));
    --bg-alert: rgb(var(--red-50));
    --bdr-alert: rgb(var(--red-300));
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-main: rgb(var(--white));
        --text-muted: rgb(var(--grey-400));
        --bg-main: rgb(var(--grey-900));
        --bg-medium: rgb(var(--grey-700));
        --bg-accent: rgb(var(--grey-800));
        --bg-sidebar: rgb(var(--grey-800));

        --text-info: rgb(var(--blue-400));
        --bg-info: rgb(var(--grey-800));
        --bdr-info: rgb(var(--blue-800));

        --text-alert: rgb(var(--red-400));
        --bg-alert: rgb(var(--grey-800));
        --bdr-alert: rgb(var(--red-800));
    }
}

body[data-theme="light"] {
    --text-main: rgb(var(--grey-900));
    --text-muted: rgb(var(--grey-500));
    --bg-main: rgb(var(--white));
    --bg-medium: rgb(var(--grey-100));
    --bg-accent: rgb(var(--grey-200));
    --bg-sidebar: rgb(var(--white));

    --text-info: rgb(var(--blue-800));
    --bg-info: rgb(var(--blue-50));
    --bdr-info: rgb(var(--blue-300));

    --text-alert: rgb(var(--red-800));
    --bg-alert: rgb(var(--red-50));
    --bdr-alert: rgb(var(--red-300));
}

body[data-theme="dark"] {
    --text-main: rgb(var(--white));
    --text-muted: rgb(var(--grey-400));
    --bg-main: rgb(var(--grey-900));
    --bg-medium: rgb(var(--grey-700));
    --bg-accent: rgb(var(--grey-800));
    --bg-sidebar: rgb(var(--grey-800));

    --text-info: rgb(var(--blue-400));
    --bg-info: rgb(var(--grey-800));
    --bdr-info: rgb(var(--blue-800));

    --text-alert: rgb(var(--red-400));
    --bg-alert: rgb(var(--grey-800));
    --bdr-alert: rgb(var(--red-800));
}