:root {
  --font-weight-accent: 500;
  --font-weight-header: 600;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('/static/fonts/roboto-condensed-latin-500.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --font: ui-sans-serif,
    system-ui,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';

  --font-logo: 'Roboto Condensed',
    ui-sans-serif,
    system-ui,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';

  --mono-font: ui-monospace,
    SFMono-Regular,
    Menlo,
    Monaco,
    Consolas,
    'Liberation Mono',
    'Courier New',
    monospace;

  --white: 255 255 255;

  --grey-50: 248 250 252;
  --grey-100: 241 245 249;
  --grey-200: 226 232 240;
  --grey-300: 203 213 225;
  --grey-400: 148 163 184;
  --grey-500: 100 116 139;
  --grey-600: 71 85 105;
  --grey-700: 51 65 85;
  --grey-800: 30 41 59;
  --grey-900: 15 23 42;
  --grey-950: 2 6 23;

  --blue-50: 239 246 255;
  --blue-100: 219 234 254;
  --blue-200: 191 219 254;
  --blue-300: 147 197 253;
  --blue-400: 96 165 250;
  --blue-500: 59 130 246;
  --blue-600: 37 99 235;
  --blue-700: 29 78 216;
  --blue-800: 30 64 175;
  --blue-900: 30 58 138;
  --blue-950: 23 37 84;

  --red-50: 254 242 242;
  --red-100: 254 226 226;
  --red-200: 254 202 202;
  --red-300: 252 165 165;
  --red-400: 248 113 113;
  --red-500: 239 68 68;
  --red-600: 220 38 38;
  --red-700: 185 28 28;
  --red-800: 153 27 27;
  --red-900: 127 29 29;
  --red-950: 69 10 10;

  --green-50: 240 253 244;
  --green-100: 220 252 231;
  --green-200: 187 247 208;
  --green-300: 134 239 172;
  --green-400: 74 222 128;
  --green-500: 34 197 94;
  --green-600: 22 163 74;
  --green-700: 21 128 61;
  --green-800: 22 101 52;
  --green-900: 20 83 45;
  --green-950: 5 46 22;

  --padding: 0.5rem;
  --padding-small: 0.25rem;
  --padding-large: 1rem;

  --block-width: 8rem;
}