{{define "menu"}}
    <li class="selected"><a href="/tickers">Tickers</a></li>
    <li><a href="/dividends">Dividends</a></li>
    <li><a href="/portfolio">Portfolio</a></li>
    <li><a href="/metrics">Metrics</a></li>
    <li><a href="/optimizer">Optimizer</a></li>
    <li><a href="/reports">Reports</a></li>
{{end}}