# Данный файл можно переименовать в .env, в таком случае данные из него заменят дефолтные настройки

# URI для подсоединения к MongoDB
PO_URI=mongodb://name:password@host

# Telegram API
PO_TOKEN=token
PO_CHAT_ID=id