@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--white: 255 255 255;

		--grey-50: 248 250 252;
		--grey-100: 241 245 249;
		--grey-200: 226 232 240;
		--grey-300: 203 213 225;
		--grey-400: 148 163 184;
		--grey-500: 100 116 139;
		--grey-600: 71 85 105;
		--grey-700: 51 65 85;
		--grey-800: 30 41 59;
		--grey-900: 15 23 42;
		--grey-950: 2 6 23;

		--blue-50: 239 246 255;
		--blue-100: 219 234 254;
		--blue-200: 191 219 254;
		--blue-300: 147 197 253;
		--blue-400: 96 165 250;
		--blue-500: 59 130 246;
		--blue-600: 37 99 235;
		--blue-700: 29 78 216;
		--blue-800: 30 64 175;
		--blue-900: 30 58 138;
		--blue-950: 23 37 84;

		--red-50: 254 242 242;
		--red-100: 254 226 226;
		--red-200: 254 202 202;
		--red-300: 252 165 165;
		--red-400: 248 113 113;
		--red-500: 239 68 68;
		--red-600: 220 38 38;
		--red-700: 185 28 28;
		--red-800: 153 27 27;
		--red-900: 127 29 29;
		--red-950: 69 10 10;

		--green-50: 240 253 244;
		--green-100: 220 252 231;
		--green-200: 187 247 208;
		--green-300: 134 239 172;
		--green-400: 74 222 128;
		--green-500: 34 197 94;
		--green-600: 22 163 74;
		--green-700: 21 128 61;
		--green-800: 22 101 52;
		--green-900: 20 83 45;
		--green-950: 5 46 22;
	}
	body {
		@apply scroll-smooth bg-bg-main text-text-main antialiased;
	}

	@media (prefers-color-scheme: light) {
		body {
			--text-main: var(--grey-900);
			--text-muted: var(--grey-500);
			--bg-main: var(--white);
			--bg-medium: var(--grey-100);
			--bg-accent: var(--grey-200);
			--bg-sidebar: var(--white);

			--text-info: var(--blue-800);
			--bg-info: var(--blue-50);
			--bdr-info: var(--blue-300);

			--text-alert: var(--red-800);
			--bg-alert: var(--red-50);
			--bdr-alert: var(--red-300);
		}
	}
	@media (prefers-color-scheme: dark) {
		body {
			--text-main: var(--white);
			--text-muted: var(--grey-400);
			--bg-main: var(--grey-900);
			--bg-medium: var(--grey-700);
			--bg-accent: var(--grey-800);
			--bg-sidebar: var(--grey-800);

			--text-info: var(--blue-400);
			--bg-info: var(--grey-800);
			--bdr-info: var(--blue-800);

			--text-alert: var(--red-400);
			--bg-alert: var(--grey-800);
			--bdr-alert: var(--red-800);
		}
	}
	body[data-theme="light"] {
		--text-main: var(--grey-900);
		--text-muted: var(--grey-500);
		--bg-main: var(--white);
		--bg-medium: var(--grey-100);
		--bg-accent: var(--grey-200);
		--bg-sidebar: var(--white);

		--text-info: var(--blue-800);
		--bg-info: var(--blue-50);
		--bdr-info: var(--blue-300);

		--text-alert: var(--red-800);
		--bg-alert: var(--red-50);
		--bdr-alert: var(--red-300);
	}

	body[data-theme="dark"] {
		--text-main: var(--white);
		--text-muted: var(--grey-400);
		--bg-main: var(--grey-900);
		--bg-medium: var(--grey-700);
		--bg-accent: var(--grey-800);
		--bg-sidebar: var(--grey-800);

		--text-info: var(--blue-400);
		--bg-info: var(--grey-800);
		--bdr-info: var(--blue-800);

		--text-alert: var(--red-400);
		--bg-alert: var(--grey-800);
		--bdr-alert: var(--red-800);
	}
}

@layer components {
}

@layer utilities {
}
