@import url("https://unpkg.com/normalize.css");
@import url("base.css");
@import url("interface.css");

/* Dividends */

main td:nth-child(2) {
  text-align: right;
}

/* Tickers */

aside #tickers-sidebar {
  display: flex;
  flex-direction: column;
}

main #tickers-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 10em);
  gap: var(--padding_sm);
  list-style-type: none;
}
