name: tests

on:
  push:
    branches: [ master ]

jobs:
  tests:
    name: Tests
    runs-on: macOS-latest

    steps:
    - name: Checkout poptimizer
      uses: actions/checkout@v1

    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Install Chromium
      run:
        pyppeteer-install

    - name: Install MongoDB
      run: |
        brew tap mongodb/brew
        brew install mongodb-community@4.2

    - name: Test with pytest
      run: |
        pytest poptimizer -v --cov=poptimizer --cov-report=term-missing --cov-report=xml --setup-show

    - name: Upload coverage to Codecov
      run: |
        pip install codecov
        codecov --token=${{secrets.CODECOV_TOKEN}}
